<div *ngIf="myForm"
    [formGroup]="formtypeForm">

    <ion-item class="form-group col-xs-6">
        <ion-label>value</ion-label>
        <ion-input type="text" 
            class="form-control" 
            formControlName="value"></ion-input>
        <small [hidden]="formtypeForm.controls.value.valid" 
            class="text-danger">
            value is required
        </small>
    </ion-item>

    <ion-item class="form-group col-xs-6">
        <ion-label>key</ion-label>
        <ion-input type="text" 
            class="form-control" 
            formControlName="key"></ion-input>
        <small [hidden]="formtypeForm.controls.key.valid" 
            class="text-danger">
            key is required
        </small>
    </ion-item>

    <ion-item class="form-group col-xs-6">
        <ion-label>label</ion-label>
        <ion-input type="text" 
            class="form-control" 
            formControlName="label"></ion-input>
        <small [hidden]="formtypeForm.controls.label.valid" 
            class="text-danger">
            label is required
        </small>
    </ion-item>

    <!-- change to bool -->
    <ion-item class="form-group col-xs-6">
        <ion-label>required</ion-label>
        <ion-input type="text" 
            class="form-control" 
            formControlName="required"></ion-input>
        <small [hidden]="formtypeForm.controls.required.valid" 
            class="text-danger">
            required is required
        </small>
    </ion-item>

    <!-- whats the input type for order? -->
    <ion-item class="form-group col-xs-6">
        <ion-label>order</ion-label>
        <ion-input type="text" 
            class="form-control" 
            formControlName="order"></ion-input>
        <small [hidden]="formtypeForm.controls.order.valid" 
            class="text-danger">
            order is required
        </small>
    </ion-item>

    <!-- current allowed values: textbox, dropdown -->
    <ion-item class="form-group col-xs-6">
        <ion-label>controlType</ion-label>

        <ion-select type="select" 
            class="form-control"  
            [formControlName]="controlType">
            <ion-option *ngFor="let opt of inputTypes" 
            [value]="opt.key">{{opt.value}}</ion-option>
        </ion-select>

        <small [hidden]="formtypeForm.controls.controlType.valid" 
            class="text-danger">
            controlType is required
        </small>
    </ion-item>
</div>